@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #e1e1e1;
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  text-align: center;
}

#keyCode {
  font-size: 150px;
  font-weight: bold;
}

.box {
  margin: 5px 0px 15px 0px;
}

.intromsg {
  font-size: 19px;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #6a6a6a;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#main {
  display: none;
}

#main label {
  background: #2561d0;
  color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
  border: solid #fff 1px;
}

.detail {
  display: table-cell;
}

.keyCodeDetail {
  display: table;
  width: 50%;
  margin-left: 25%;
  padding: 2px 8px;
  border-radius: 5px;
  /* border: solid #000000 1px; */
  background-color: #e7e7e7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
